.lateral-izq, .lateral-der{
    overflow: auto;
}
.container-caja3{
    padding-bottom: 80px;
}
.container-zocalo{
    max-width: 728px;
    max-height: 90px;
    z-index: 2147;
    box-sizing: border-box;
}
.empty-space{
    height: 140px;
}
