@import 'variables.scss';

header{
    height: 46px;
    z-index: 99;
    background-color: $backgroundColorHeader;

    .ctn-header{
        max-width: 990px;

        .ctn-logo{
            
            .logo{
                background: url($pathLogo) no-repeat 6px 2px;
                background-size: $backgroundSize;
                height: $heightLogo;
                width: $widthLogo;
            }
            .header-barra-2 {
                height: 20px;
                width: 1px;
            }
            .boton-especiales {
                text-decoration: none;
                font: 700 14px/16px Arial, Helvetica, sans-serif;
                vertical-align: -1px;
            }
            .cruz {
                color: $colorCruz;
            }
            
        }        
    }   
}
