$urlAssets: "https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_general/depor/prod";
$slugCommonAssets: "/elementos-comunes/";
$urlCommonAssets: $urlAssets + $slugCommonAssets;

//fonts
$icomoon: "icomoon";
$pathFonts: $urlCommonAssets + "fonts/";

$helveticaNowDisplayBold: "HelveticaNowDisplay-Bold";
$notoSansRegular: "NotoSans-Regular";
$notoSansBold: "NotoSans-Bold";
$helveticaNowDisplayMedium: "HelveticaNowDisplay-Medium";
$helveticaNowDisplayRegular: "HelveticaNowDisplay-Regular";
$robotoBold: "Roboto-Bold";
$robotoMedium: "Roboto-Medium";
$robotoRegular: "Roboto-Regular";
$notoSansKRBold: "NotoSansKR-Bold";
$notoSansKRMedium: "NotoSansKR-Medium-Alphabetic";

//body
$blackColor: #000;
$whiteColor: #fff;
$lightGreyColor: #d3d2d2;
$backgroundColorBody: $whiteColor;

//header Depor
$backgroundColorHeader: #000;
$colorCruz: #fff;
$pathLogo: $urlCommonAssets + "img/logo-depor-white.png";
$widthLogo: 70px;
$heightLogo: 26px;
$backgroundSize: 80%;

//especial
$titleColor: #707070;
$separatorColor: #707070;
$bgTeamToKnockoutStage: #5270a0;
$bgTeamToEuropeLeague: #bbc7d9;
$groupNameColor: #1f4fab;
$bgEliminatedTeam: $lightGreyColor;
$bgActiveButton: #939393;
$bgInactiveButton: #670331;
$epigraphColor: $blackColor;
$bgNextButton: #6a6a6a;
$bgSelectedTeam: #939393;
$bgUnselectedTeam: $lightGreyColor;
$greyColor: #807d7d;
$bgInput: #ebebeb;
$inputColor: #848489;
$sharePredictionColor: #848484;
$matchDataColor: #7e7e7e;
$scoreInputBorderColor: #d5d5d5;
$standingColor: #5270a0;

$bgPlayedMatch: #959595;
$bgCurrentMatch: #f8bb68;
$bgFutureMatch: $lightGreyColor;
